[submodule "deps/raylib"]
	path = deps/raylib
	url = https://github.com/raysan5/raylib
[submodule "deps/imgui/imgui"]
	path = deps/imgui/imgui
	url = https://github.com/ocornut/imgui
[submodule "deps/rlImGui"]
	path = deps/rlImGui
	url = https://github.com/raylib-extras/rlImGui
